body {

    background-image: url("../img/textura4.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
   /*  background-repeat: repeat; */
    background-size: cover;
}

.card { 
    background-color: #128c7e;
    color: #fff;
}

input[type='tel'] {padding: 12px;}

h1 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    text-transform: lowercase;
    font-family: 'Orbitron', sans-serif;
}

h5::first-letter {
    text-transform: uppercase;
}

img {
    width: 100px;
}

.logo_oven {
    font-size: 40px;
    color: #000;
}